
<head>
	<title>The Bucket List</title>
	<script type="text/jsx" src="./lander.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <script src="js/bootstrap.min.js"></script> -->

</head>
<body>
    <div id="render-navbar"></div>

<div id="container">
  <div class="row">
    <div id="render-home"></div>
  </div>

  <div class="row">
    <div class="" >
      <div class="col s6" id="render-quad1"></div>
      <div class="col s6" id="render-quad3"></div>
    </div>

  </div>

  <div class="row">
    <div class="col s5" >
      <div id="render-quad2"></div>
    </div>

    <div class="" >
      <div id="render-quad4"></div>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div id="render-footer" class="col s12">
    </div>
  </div>

</div>

</body>
